
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{review.game}} Review</title>
		<meta name="description" content="detailed reviews">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Game Reviews</h1>
			<!--<h1>{{review.game}} Review</h1>-->
				<a href="/login">Log in</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<div class="grid-container">
			<div class="div1">
		<img src="{{host}}/images/{{review.thumbnail}}" />
			</div>
			<div class="div2">
				<h2>{{review.game}}</h2>
			</div>
			<div class="div3">
		<p><span class="bold">Publisher:</span> <span>{{review.publisher}}</span></p> 
		<p><span class="bold">Release Year:</span> <span>{{review.release_year}}</span></p>
			</div>
		</div>
	</main>	
		<main>
			<button class="back button">Back</button>
		</main>
	</body>
</html>
