
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{game.game}} Review</title>
		<meta name="description" content="detailed reviews">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Game Reviews</h1>
				{{#if authorised}}
				<a href="/logout">Log out</a>
				{{else}}
				<a href="/login">Log in</a>
				{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<div class="grid-container">
			<div class="div1">
		<img src="{{host}}/images/{{game.thumbnail}}" />
			</div>
			<div class="div2">
				<h2>{{game.game}}</h2>
			</div>
			<div class="div3">
		<p><span class="bold">Publisher:</span> <span>{{game.publisher}}</span></p> 
		<p><span class="bold">Release Year:</span> <span>{{game.release_year}}</span></p>
			</div>
		</div>
	</main>	
			<main>
			<h3>Reviews</h3>
			{{#each reviewtag}}
			<div class="grid-container_2">
				<div class="div1">
					<p><span class="bold">{{this.user}}</span></p>
					<p>{{this.review}}</p>
				</div>
				<div class="div2_2">
					<p><span class="bold">{{this.date}}</span></p>
				</div>
			</div>
			{{/each}}
		</main>
		<main>
			<button class="back button">Back</button>
		</main>
	</body>
</html>
