
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews</title>
		<meta name="description" content="displays reviews LOGGED IN">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<h1>Game Reviews</h1>
			<a href="/logout">Log out</a>
			<p><span class="bold">Welcome, </span>{{user}}</p>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<table>
			<tr><th>Game Cover</th><th>Game</th><th>Publisher</th><th>Release Year</th></tr>
			{{#each records}}
			<tr>
				<td><a href="/gamereviews/reviewdetails/{{this.id}}"><img src="images/{{this.thumbnail}}" alt="Game Cover" class="click_img"></a></td>
				<td><a href="/gamereviews/reviewdetails/{{this.id}}">{{this.game}}</a></td>
				<td>{{this.publisher}}</td>
				<td>{{this.release_year}}</td>
			</tr>
			{{/each}}
		</table>
		</main>
		<a class="add button_og" href="/gamereviews/addgame">Add Game</a>
	</body>
</html>
