
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews</title>
		<meta name="description" content="home page for logged in users">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<a class="logo" href="/gamereviews"><img class="logo_img" src="/logo.png" /></a>
			<h1>Game Reviews</h1>
			<a href="/logout">Log out</a>
			<p><span class="bold">Welcome, </span>{{user}}</p>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main class="horizontal-scroll main_home">
			<div class="parent">
				{{#each records}}
				<div class="item">
					<div class="d1">
						<a href="/gamereviews/reviewdetails/{{this.id}}"><img src="images-game/{{this.thumbnail}}" alt="Game Cover" class="click_img"></a>
					</div>
					<div class="d2">
						<p class="bold"><a href="/gamereviews/reviewdetails/{{this.id}}">{{this.game}}</a></p>
						<p>{{this.publisher}}</p>
						<p>{{this.release_year}}</p>
					</div>
				</div>
				{{/each}}
			</div>
		</main>
		<a class="button_add-edit" href="/gamereviews/addgame">Add Game</a>
		<footer>
			<p>Made by Jonas Djondo</p>
		</footer>
	</body>
</html>
