
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Game Reviews</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
		<table>
			<tr><th>Game Cover</th><th>Game</th><th>Publisher</th><th>Release Year</th></tr>
			{{#each records}}
			<tr>
				<td><img src="{{this.thumbnail}}" alt="Game Cover"></td>
				<td>{{this.game}}</td>
				<td>{{this.publisher}}</td>
				<td>{{this.release_year}}</td>
			</tr>
			{{/each}}
		</table>
		</main>
		<a class="add" href="/gamereviews/addreview">Add Review</a>
	</body>
</html>
