
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game Reviews</title>
		<meta name="description" content="home page for logged out users">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<a class="logo" href="/"><img class="logo_img" src="/logo.png" /></a>
			<h1>Community Gamer Reviews</h1>
			{{#if authorised}}
			<a href="/logout">Log out</a>
			{{else}}
			<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
		<aside>
			<p class="msg">{{msg}}</p>
		</aside>
		{{/if}}
		<main class="horizontal-scroll main_home">
		<div class="parent">
			{{#each records}}
			<div class="item">
				<div class="d1">
					<a href="/reviewdetails/{{this.id}}"><img src="images-game/{{this.thumbnail}}" alt="Game Cover" class="click_img"></a>
			</div>
				<div class="d2">
					<p class="bold"><a href="/reviewdetails/{{this.id}}">{{this.game}}</a></p>
					<p>{{this.publisher}}</p>
					<p>{{this.release_year}}</p>
				</div>
			</div>
			{{/each}}
		</div>
	</main>
		<footer>
			<p>Made by Jonas Djondo</p>
		</footer>
	</body>
</html>
