
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{info.user}}'s Profile</title>
		<meta name="description" content="displays reviews for logged in users">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<a class="logo" href="/gamereviews"><img class="logo_img" src="/logo.png" /></a>
			<h1>{{info.user}}'s Profile</h1>
			<a href="/logout">Log out</a>
			<p><span class="bold">Welcome, </span>{{user}}</p>
			<a class="profile_small" href="/gamereviews/profile"><img class="profile_img_header" src="/images-profile/{{userpic}}" /></a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
			<div class="grid-container">
			<div class="div1">
				<img src="{{host}}/images-profile/{{info.picture}}" class="profile_img" />
			</div>
			<div class="div2">
				<h2>{{info.user}}</h2>
				<p class="pText"><span class="bold">Bio:</span> <span>{{info.bio}}</span></p>
			</div>
			<div class="div3">
				<p><span class="bold">Firstname:</span> <span>{{info.firstn}}</span></p> 
				<p><span class="bold">Lastname:</span> <span>{{info.lastn}}</span></p>
				<p><span class="bold">Email:</span> <span>{{info.email}}</span></p>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<a class="button" href="/gamereviews/editprofile">Edit</a>
			</div>
		</div>
		</main>
		<main>
			<h3>Your Reviews</h3>
			{{#each accRev}}
			<div class="grid-container_3">
				<div class="div1">
					<p><span class="bold">{{this.game}}</span></p>
					<p>{{this.review}}</p>
				</div>
				<div class="div2_2">
					<p><span class="bold">{{this.date}}</span></p>
				</div>
				<div class="div3">
					<a class="button" href="/gamereviews/editreview/{{this.id}}">Edit</a>
				</div>
			</div>
			{{/each}}
		</main>
		<main>
			<a class="button_back" href="/gamereviews">Back</a>
		</main>
		<footer>
			<p>Made by Jonas Djondo</p>
		</footer>
	</body>
</html>
