
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Register an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
			<a class="logo" href="/"><img class="logo_img" src="/logo.png" /></a>
			<h1>Register an Account</h1>
			<a href="/login">Log in</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main class="main_log_reg_add">
		<form action="/register" enctype="multipart/form-data" method="post">
			<p>
				<label class="bold_white" for="firstn">Firstname</label><br />
				<input type="text" name="firstn" placeholder="e.g. John" value="{{body.firstname}}" pattern="[A-Za-z']+" data-msg="Please enter your firstname" autofocus required />
			</p>
			<p>
				<label class="bold_white" for="lastn">Lastname</label><br />
				<input type="text" name="lastn" placeholder="e.g. Doe" value="{{body.lastname}}" data-msg="Please enter your lastname" required />
			</p>
			<p>
				<label class="bold_white" for="user">Username</label><br />
				<input type="text" name="user" placeholder="e.g. JohnDoe35 (no spaces)" value="{{body.user}}" data-msg="Please enter a username" required />
			</p>
			<p>
				<label class="bold_white" for="pass">Password</label><br />
				<input type="password" name="pass" placeholder="Don't tell anyone" value="{{body.pass}}" data-msg="Please enter a password" required />
			</p>
			<p>
				<label class="bold_white" for="email">Email</label><br />
				<input type="email" name="email" placeholder="e.g. johndoe@gmail.com" value="{{body.email}}" data-msg="Please enter an email" required />
			</p>
			<p>
				<label class="bold_white" for="avatar">Profile Picture</label><br />
				<input type="file" name="avatar" accept="image/*" class="button_file" />
			</p>
			<p>
				<label class="bold_white" for="bio">Bio</label><br />
				<textarea name="bio" placeholder="e.g. I like adventure games." data-msg="Please enter a bio" required></textarea>
			</p>
			<p><input type="submit" value="Register"></p>
		</form>
		</main>
		<main class="main_addgame_back">
			<a class="button_back" href="/login">Back</a>
		</main>
		<footer>
			<p>Made by Jonas Djondo</p>
		</footer>
	</body>
</html>
